/* You can add global styles to this file, and also import other style files */
body {
  background-color: #101010;
  color: white;
  font-size: 23px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.counter{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.counter-controls-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}


button{
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(241, 54, 148);
  font-weight: bold;
  border: none;
  color: white ;
  border-radius: 5px;
}